org/gjt/sp/jedit/actions.dtd

<!ENTITY % att-bool '( TRUE | FALSE )' >

<!-- MODE element -->
<!ELEMENT ACTIONS ( ACTION+ ) >

<!-- ACTION element -->
<!ELEMENT ACTION ( CODE | IS_SELECTED )+ >
<!ATTLIST ACTION
	NAME CDATA #REQUIRED
	NO_REPEAT %att-bool; "FALSE"
	NO_RECORD %att-bool; "FALSE" >

<!-- ACTION children -->
<!ELEMENT CODE ( #PCDATA ) >
<!ELEMENT IS_SELECTED ( #PCDATA ) >
